$rose: #F7CAC9;
$serenity: #92A8D1;
$white: #fff;
$grey-dark: #666666;

$primary: $rose;
$secondary: $grey-dark;

@import url(https://fonts.googleapis.com/css?family=Lora); 
$helvetica: Helvetica, Arial, sans-serif;

$lora: Lora, serif;